table {
    border-collapse: collapse;
    border: 2px solid rgb(64, 64, 64);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;


}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,
tfoot {
    background-color: rgb(193, 182, 254);
    
}

th,
td {
    border: 1px solid rgb(28, 27, 27);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(238, 229, 246);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

button{
    background-color: rgb(129, 106, 246);
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    border: 2px solid rgb(0, 0, 0);
}

button:hover{
    background-color: rgb(193, 182, 254);
}