:root{
    --body-bg-color: rgb(83, 83, 83);
}

#button {
    background: linear-gradient(to right, rgb(234, 234, 234) 50%,  rgb(215, 210, 210) 50%);
    color: black;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    background-size: 200% 100%; 
    
}

body {
    background-color: var(--body-bg-color);
}

.animate{
    animation: colorSwitch 2s forwards;

}

@keyframes colorSwitch {
    0% {
        background-position: right; 
    }
    100% {
        background-position: left; 
    }
}
